.mediaImagePlaceHolder {
  width: 200px;
  height: 200px;
}

.card {
  width: 200px;
  height: 100px;
  flex: 0 0 auto;
}

.flexCard {
  display:flex;
  flex-direction: column;
  min-width: 200px;
  min-height: 100px;
  flex: 1 1 auto;
}

.titleInput {
  flex: 1 1 auto;
  min-height: 1rem;
}

.descriptionInput {
  min-height: 4em;
  flex: 1 1 auto;
}

.cardColor {
  border: 1px solid #ff0095;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
  text-align: middle;
  background: #99b1a6;
}

.cardHorizontal {
  padding: 1em;
  border: 1px solid #a2a3c2;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
  text-align: left;
  background: #99b1a6;
  flex: 0 0 auto;
}

.newCardLink {
  display: inline-block;
  width: fit-content;
}

.tagCard {
  width: 50px;
  height: 20px;
}
