.headerBackground {
  background-color: rgb(85, 81, 93)
}
.heading {
  margin: 0.5rem 0 1rem;
  font-size: 2rem;
  font-weight: 700;
}


.flexHeader {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 0.75rem 1rem;
  border: 1px solid red;
  margin-left: 100px;
  margin-right: 100px;
}