

.verticalFlexBox {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  margin-left: 7rem;
  margin-right: 7rem;
  gap: 1rem;
  border: 2px dashed #707497;
}

.horizontalFlexBox {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  gap: 1rem;
}

.mediaInfoUpperRow {
  min-height: 400px;
}

.mediaInfoLowerRow {
  min-height: 400px;
  align-items: center;
  justify-content: center;
}
  /* display: flex;
  flex-direction: row;
  align-items: stretch;
  width: 100%; */
.imageBox {
  display: flex;
  min-width: 400px;
  min-height: 400px;
  align-items: stretch;
  justify-content: center;
  background: #394364;
  color: #ffffff;
  border-radius: 16px;
}

/* THERES DUPLICATION */
.descriptionBox {
  flex: 1 1 auto;
  min-height: 400px;
  display: flex;
  align-items: stretch;
  flex-direction: column;
  justify-content: top;
  background: #2f3349;
  color: #ffffff;

  /* border-radius: 16px; */
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}
.textBoxStyle {
  border-radius: 16px;
  align-self: stretch;
}

.flexAutoExpend {
  flex: 1 1 auto;
}

.mediaTopMenu {
  display: flex;
  min-height: 1rem;
  flex-direction: column;
  justify-content: center;
  background: #3142a3;
  color: #ffffff;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}

.horizontalAlign {
  display: flex;
  flex-direction: row;
}

.splitByHorizontal {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.mediaMenu {
  flex-grow: 1;
  flex-direction: column;
  min-width: 400px;
  min-height: 400px;
  align-items: stretch;
  justify-content: center;
}

.descriptionBoxOutside {
  display:flex;
  flex: 1 1 auto;
  align-self: stretch;
  border: 2px dashed #707497;
  border-radius: 16px;
  color: #d1d4ff;
}

.alignBox {
  flex-grow: 1;
  align-items: center;
}

/* Stores tags of a media */
.mediaTagBox {
  
}

.tagCard {
  width: 50px;
  height: 20px;
}
